<div>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <h3>{{ title }}</h3>
    <label>
      Email
      <input id="email" type="email" name="email" ngModel #email />
    </label>
    <label>
      Password
      <input type="password" name="password" ngModel />
    </label>
    <button type="submit">{{ title }}</button>
  </form>
</div>
