<div>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <ng-content select="h3"></ng-content>
    <label>
      Email
      <input id="email" type="email" name="email" ngModel #email />
    </label>
    <label>
      Password
      <input type="password" name="password" ngModel />
    </label>
    <ng-content select="auth-remember"></ng-content>
    <!-- div *ngIf="showMessage">You will be logged for 30 days</div -->
    <auth-message
      [style.display]="showMessage ? 'inherit' : 'none'"
    ></auth-message>

    <ng-content select="button"></ng-content>
    <button (click)="test()">test</button>
  </form>
</div>
