<div [formGroup]="parent">
  <div formGroupName="store">
    <input type="text" placeholder="branch id" formControlName="branch" />
    <input type="text" placeholder="manager code" formControlName="code" />
  </div>
</div>
