<div class="stock-inventory">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <stock-branch [parent]="form"></stock-branch>

    <stock-selector
      [parent]="form"
      [products]="products"
      (added)="addStock($event)"
    ></stock-selector>
    <stock-products
      [parent]="form"
      (removed)="removeStock($event)"
    ></stock-products>

    <div class="stock-inventory__buttons">
      <button type="submit" [disabled]="form.invalid">Order stock</button>
    </div>

    <pre>{{ form.value | json }}</pre>
  </form>
</div>

<!-- div class="stock-inventory">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
      <div formGroupName="store">
        <input type="text" placeholder="branch id" formControlName="branch" />
        <input type="text" placeholder="manager code" formControlName="code" />
      </div>
  
      <div class="stock-inventory__buttons">
        <button type="submit" [disabled]="form.invalid">Order stock</button>
      </div>
  
      <pre>{{ form.value | json }}</pre>
    </form>
  </div -->
