<!-- div class="app">
  <nav class="nav">
    <a
      *ngFor="let item of nav"
      [routerLink]="item.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.exact }"
      >{{ item.name }}</a
    >
  </nav>
  <router-outlet></router-outlet>
</div -->

<!-- div>
  <auth-form (submitted)="createUser($event)">
    <h3>Create user</h3>
    <button type="submit">Join Us</button>
  </auth-form>
  <auth-form (submitted)="loginUser($event)">
    <h3>Create login</h3>
    <auth-remember (checkedEvt)="rememberUser($event)"></auth-remember>
    <auth-remember (checkedEvt)="rememberUser($event)"></auth-remember>
    <auth-remember (checkedEvt)="rememberUser($event)"></auth-remember>
    <button type="submit">Login</button>
  </auth-form>
</div -->

<!-- div>
  <auth-form (submitted)="loginUser($event)">
    <h3>Create login</h3>
    <auth-remember (checkedEvt)="rememberUser($event)"></auth-remember>
    <button type="submit">Login</button>
  </auth-form>
</div -->

<!-- div>
  <button (click)="destroyComponent()">Destroy</button>
  <button (click)="moveComponent()">Move</button>
  <div #entry></div>

  <ng-template #tmpl let-name let-location="location"
    >{{ name }}: {{ location }}</ng-template
  >
</div -->

<!-- div>
  test
  <ng-container
    [ngTemplateOutlet]="tmpl"
    [ngTemplateOutletContext]="ctx"
  ></ng-container>

  <ng-template #tmpl let-name let-location="location"
    >{{ name }}: {{ location }}</ng-template
  >
</div -->
<!-- div>
  <example-one></example-one>
  <example-two></example-two>
  <example-three></example-three>
</div -->

<!-- div>
  <button type="button" (click)="addProp()">Add property</button>
  <button type="button" (click)="changeUser()">Change user object</button>
  <button type="button" (click)="changeName()">Change name property</button>
  <div>
    <example-one [user]="user"></example-one>
    <example-two [user]="user"></example-two>
  </div>
</div -->

<!-- div>
  <label>
    Credit card number
    <input
      type="text"
      name="credit-card"
      placeholder="enter credit card 16 digits no"
      credit-card
    />
  </label>
  <label tooltip="3 digits, back of your card" #myTooltip="tooltip">
    Security code
    <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()"
      >(?)</span
    >
    <input type="text" />
  </label>
</div -->

<!-- div>
  <ul>
    <li *myFor="let item of items; let i = index">{{ item.name }} + {{ i }}</li>
    <ng-template myFor [myForOf]="items" let-item let-i="index">
      <li>{{ i }} Memeber --- {{ item.name | json }}</li>
    </ng-template>
  </ul>
</div -->

<!-- div>
  <div *ngFor="let file of files">
    <p>{{ file.name }}</p>
    <p>{{ file.size | filesize: "megabytes" }}</p>
  </div>
  <div *ngFor="let file of mapped">
    <p>{{ file.name }}</p>
    <p>{{ file.size }}</p>
  </div>
</div -->

<div><stock-inventory></stock-inventory></div>
