.example-two {
  background: #9f72e6;
  color: #fff;
  font-size: 19px;
  margin-bottom: 10px;
  padding: 5px 7px;
}

.example-one {
  border: 3px solid #9f72e6;
  color: #9f72e6;
  font-size: 14px;
  padding: 5px 7px;
}
