<!-- div class="example-one">Example one</div -->

<div class="example-one">
  <h4>{{ user.name }}</h4>
  <h5>{{ user.age }} years old</h5>
  <div>{{ user.location }} {{ user.email }}</div>
  <button (click)="update()">Internal update</button>
  <p>* should not update</p>
</div>
